/**
 * this uni-app's style variables setting
 *
 * 
 * 
 *
 */
/* Colour setting */

/* behaviour colour */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* word basic colour */
$uni-text-color:#333;//basic colour
$uni-text-color-inverse:#fff;//opposite colour
$uni-text-color-grey:#999;//grey colour
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* backgroud colour */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//clcik 
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//mask

/*  */
$uni-border-color:#c8c7cc;

/* Font size setting */

/* word size */
$uni-font-size-sm:12px;
$uni-font-size-base:14px;
$uni-font-size-lg:16;

/* image size */
$uni-img-size-sm:20px;
$uni-img-size-base:26px;
$uni-img-size-lg:40px;

/* Border Radius */
$uni-border-radius-sm: 2px;
$uni-border-radius-base: 3px;
$uni-border-radius-lg: 6px;
$uni-border-radius-circle: 50%;

/* row spacing */
$uni-spacing-row-sm: 5px;
$uni-spacing-row-base: 10px;
$uni-spacing-row-lg: 15px;

/* column spacing*/
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;
$uni-spacing-col-lg: 12px;

/* Transparency */
$uni-opacity-disabled: 0.3; // degree of transparency

/* article scene */
$uni-color-title: #2C405A; // article title colour
$uni-font-size-title:20px;
$uni-color-subtitle: #555555; // article subtitle colour
$uni-font-size-subtitle:26px;
$uni-color-paragraph: #3F536E; // article paragraph colour
$uni-font-size-paragraph:15px;
